@font-face {
  font-family: "PantonMtav3-Bold";
  src: url("../fonts/fonts/PANTON-BOLD.eot"); /* IE9 Compat Modes */
  src: url("../fonts/fonts/PANTON-BOLD.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/fonts/PANTON-BOLD.otf") format("opentype"), /* Open Type Font */
  url("../fonts/fonts/PANTON-BOLD.svg") format("svg"), /* Legacy iOS */
  url("../fonts/fonts/PANTON-BOLD.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/fonts/PANTON-BOLD.woff") format("woff"), /* Modern Browsers */
  url("../fonts/fonts/PANTON-BOLD.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PantonMtav3-Regular";
  src: url("../fonts/fonts/PANTON-REGULAR.eot"); /* IE9 Compat Modes */
  src: url("../fonts/fonts/PANTON-REGULAR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/fonts/PANTON-REGULAR.otf") format("opentype"), /* Open Type Font */
  url("../fonts/fonts/PANTON-REGULAR.svg") format("svg"), /* Legacy iOS */
  url("../fonts/fonts/PANTON-REGULAR.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/fonts/PANTON-REGULAR.woff") format("woff"), /* Modern Browsers */
  url("../fonts/fonts/PANTON-REGULAR.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../fonts/fonts/arial.eot"); /* IE9 Compat Modes */
  src: url("../fonts/fonts/arial.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/fonts/arial.otf") format("opentype"), /* Open Type Font */
  url("../fonts/fonts/arial.svg") format("svg"), /* Legacy iOS */
  url("../fonts/fonts/arial.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/fonts/arial.woff") format("woff"), /* Modern Browsers */
  url("../fonts/fonts/arial.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

$primary-font: 'Arial';
$medium-font: 'PantonMtav3-Regular';
$bold-font: 'PantonMtav3-Bold';